@model IEnumerable<Team15_SEP2022.Models.InformationStudent>

@{
    ViewBag.Title = "Thành viên - Văn Lang Tech Club";
    Layout = "~/Views/Shared/_LayoutBCN.cshtml";
}

<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Quản Lý Thành Viên</h3>
            </div>
        </div>
    </div>

    <section class="section section-content">
        <div class="card">
            <div class="card-body">

                <div class="d-none" id="filter-fade">
                    <div id="filterEvent">
                        @using (Html.BeginForm("ExportToExcellMemberList", "ExportFile", FormMethod.Post, new {id = "export-form"}))
                        {
                            <button type="button" id="btn-export-file" class="btn btn-primary-v2">Export File</button>
                        }
                    </div>
                </div>

                <table id="table-role1" class=" table" style="border: 1px solid #dddddd;">
                    <thead>
                        <tr>
                            <th class="text-center">STT</th>
                            <th>MSSV</th>
                            <th>Họ và tên</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            <th class="text-center">
                                <a id="btn-open-modal-form-add">
                                    <i class="badge-circle badge-circle-light-secondary font-medium-1 link" data-feather="user-plus"></i>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int count = 1;}
                        @foreach (var item in Model)
                        {
                            <tr class="text-center">
                                <td>@count</td>
                                <td>@item.StudentId</td>
                                <td>@item.Full_Name</td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                <td class="text-center">
                                    <a title="Xem chi tiết" href="@Url.Action("CTThanhVien", "QuanTri", new { id = item.StudentId.Trim() })">
                                        <i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="info"></i>
                                    </a>
                                </td>
                            </tr>
                            count++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>


@using (Ajax.BeginForm("BindingMajorsId", "Binding", null, new AjaxOptions { HttpMethod = " POST", UpdateTargetId = "binding" }, new { id = "binding-form1" }))
{
    <input id="DId" name="DId" value='@Model.FirstOrDefault().DepartmentId' class="d-none" />
}


@{ Html.RenderAction("CreateMemberForm"); }

@section Scripts{
    <script type="text/javascript">

        $("#btn-check-id").on("click", function () {
            $("#checkIdForm").submit();
        })

        function onSuccesAddMember(result) {
            if (result.errorMessage) {
                alert(result.errorMessage);
            } else {
                if (result.resultMessage) {
                    alert(result.resultMessage);
                    window.location.reload();
                }
            }
        }

        function checkSuccess(result) {
            var div = $("#resultCheck");
            div.empty();
            switch (result.status) {
                case "0":
                    div.append("<span class='text-danger'>" + result.message + "</span>")
                    break;
                case "1":
                    div.append("<span class='text-danger'>" + result.message + "</span>")
                    break;
                case "3":
                    div.append("<span class='text-success'>" + result.message + "</span>")
                    $("#cMemberF #StudentId").val(result.mssv);
                    $("#cMemberF #StudentId").text(result.mssv);
                    $("#btn-add-member").attr("disabled", false);
                    $("#btn-add-member").unbind("click");
                    $("#StId").css("display", "none");
                    $("#btn-add-member").on("click", function () {
                        $("#formC").submit();
                    })
                    $("#cMemberF").css("display", "block");
                    break;
                case "2":
                    div.append("<span class='text-success'>" + result.message + "</span>")
                    $("#cMemberF").css("display", "none");
                    $("#btn-add-member").unbind("click");
                    $("#btn-add-member").attr("disabled", false);
                    $("#StId").text(result.mssv);
                    $("#StId").val(result.mssv);
                    $("#btn-add-member").on("click", function () {
                        $("#addMemberByStIdForm").submit();
                    })
                    break;
            }
        }

        function addMemberByStIdForm(result) {
            if (result.resultMessage) {
                alert(result.resultMessage);
            }
        }

        $(function () {
            $("#DepartmentId").on("change", function () {
                var x = $(this).val();
                $("#DId").val(x);
                $("#binding-form1").submit();
            })

            $(".dataTable-search").prepend($("#filterEvent").clone());
            $("#filter-fade").remove();

            $("#formC :input").change(function () {
                $("#formC").data("changed", true);
            });

            $("#btn-open-modal-form-add").click(function () {
                $("#addMembers").modal('show');
            })

            $("#btn-back-c-form").click(function () {
                if ($("#formC").data("changed")) {
                    if (confirm("Bạn chưa lưu, bạn có chắc muốn thoát?")) {
                        $("#addMembers").modal('hide');
                    }
                } else {
                    $("#addMembers").modal('hide');
                }
            })

            $("#btn-export-file").on("click", function () {
                if (confirm("Bạn có muốn export file danh sách thành viên này không?")) {
                    $("#export-form").submit();
                }
            })

            $("#checkId").on("keyup", function () {
                $("#btn-add-member").unbind("click");
                $("#cMemberF").css("display", "none");
                $("#StId").css("display", "none");
                $("#btn-add-member").attr("disabled", true);
            })
        });
    </script>
}

