@using Microsoft.AspNet.Identity;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Area/assets/css/bootstrap.css" />
    <link href="~/Area/assets/vendors/simple-datatables/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Area/assets/vendors/chartjs/Chart.min.css" />
    <link rel="stylesheet" href="~/Area/assets/vendors/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/Area/assets/css/app.css" />
    <link rel="shortcut icon" href="~/Area/assets/images/logo-vanlangtech.png" type="image/x-icon" />
    <link href="~/Area/assets/vendors/quill/quill.snow.css" rel="stylesheet" />
</head>
<body>

    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <img src="~/Area/assets/images/logo-vanlangtech.png" alt="logo" width="100" height="100" />
                    <p class="sidebar-header-text">Văn Lang Tech Club</p>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">

                        <li class='sidebar-title'>Chức năng</li>
                        <li class="sidebar-item @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active":"")">
                            <a href=@Url.Action("Index", "QuanTriTT") class='sidebar-link'>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-line" viewBox="0 0 16 16">
                                        <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z" />
                                    </svg>
                                </span>
                                <span>Thống Kê</span>
                            </a>

                        </li>

                        @{
                            var txt1 = ViewContext.RouteData.Values["Action"].ToString();
                            var select1 = "";
                            var Name = "SuKien";
                            var Name2 = "CTSuKien";
                            var Name3 = "DsDkSuKien";
                            var Name4 = "TaoSuKien";
                            if ((txt1 == Name) || (txt1 == Name2) || (txt1 == Name3) || (txt1 == Name4))
                            {
                                select1 = "active";
                            }
                            else
                            {
                                select1 = "";
                            }


                            <li class="sidebar-item @select1">
                                <a href=@Url.Action("SuKien", "QuanTriTT") class="sidebar-link">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-event" viewBox="0 0 16 16">
                                            <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
                                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z" />
                                            <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z" />
                                        </svg>
                                    </span>
                                    <span>Sự Kiện</span>
                                </a>
                            </li>
                        }
                        <li class="sidebar-item">
                            <a href=@Url.Action("Index","Home") class="sidebar-link">
                                <span>Trở Về Trang Chủ</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x">
                    <i data-feather="x"></i>
                </button>
            </div>
        </div>

        <div id="main">
            <nav class="navbar navbar-header navbar-expand navbar-light">
                <a class="sidebar-toggler" href="#">
                    <span class="navbar-toggler-icon"></span>
                </a>
                <button class="btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex align-items-center navbar-light ml-auto">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                                <div class="d-none d-md-block d-lg-inline-block">Xin chào Truyền Thông!</div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#updateInfo"><i data-feather="info"></i> Thông tin cá nhân</a>
                                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i data-feather="log-out"></i> Đăng xuất</a>

                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            @RenderBody()

            @Html.Partial("_Spinner")

            @if (Request.IsAuthenticated)
            {
                Html.RenderAction("UpdateInformation", "Home");
            }

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <script src="~/Area/assets/js/feather-icons/feather.min.js"></script>
    <script src="~/Area/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/Area/assets/vendors/chartjs/Chart.min.js"></script>
    <script src="~/Area/assets/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="~/Area/assets/js/pages/dashboard.js"></script>
    <script src="~/Area/assets/vendors/simple-datatables/simple-datatables.js"></script>
    <script src="~/Area/assets/js/main.js"></script>
    <script src="~/Area/assets/js/vendors.js"></script>
    <script src="~/Area/assets/js/app.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Area/scannerQRCode/instascan.min.js"></script>
    <script src="~/Area/assets/vendors/quill/quill.js"></script>
    <script src="~/Area/assets/js/pages/form-editor.js"></script>

    <script>
        function toggleChart(value) {
            document.getElementById("statusClub").style.display = value == 1 ? "block" : "none";
            document.getElementById("dashboardEvent").style.display = value == 2 ? "block" : "none";
        }

        $(document).on('show.bs.modal', '.modal', function () {
            $("body").css("padding-right", "0");
        });

        $(document).on('hide.bs.modal', '.modal', function () {
            $("body").css("padding-right", "0");
        });
    </script>

</body>
</html>
